@font-face {
    font-family: 'pixel';
    src: url('../fonts/VCR_OSD_MONO_1.001.ttf');
}

@font-face {
    font-family: 'dogica';
    src: url('../fonts/dogica.ttf');
}

@font-face {
    font-family: 'verdana';
    src: url('../fonts/Verdana.ttf');
}

html {
  background: url(../img/backgrounds/14.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.uline {
  text-underline-offset: 2px;
  text-decoration-thickness: 2px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}



.ptop {padding-top: 11px}

.top {
  display: grid;
  grid-template-columns: 38px 1fr 1fr 55px;
  font-family: "pixel";
  background: #00308F;
  color: white;
}


.navigator {
  padding-top: 20px;
  padding-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: rgba(255,255,255,0.5);
  font-family: "dogica";
}

.display {
  font-family: "verdana";
  color: white;
  font-size: 120px;
}

.device {
  position: fixed;
  width: 100%;
  bottom: 32px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  height: 175px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background: rgba(150,150,150,0.6);
  font-family: "dogica";
}

.bottom {
  padding-left: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  background: rgba(255,255,255);
  position: fixed;
  bottom: 0;
  width: 100%;
  font-family: "dogica";
}
